<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
  .el-select .el-input {
    width: 130px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
</style>

</head>
<body>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
<div id="app">
<el-form ref="form" :model="form" label-width="auto" label-position="left">
  <el-form-item>
    <el-input v-model="form.name" label-width="auto" label="输入地址"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="onSubmit()">获取加速地址</el-button>
  </el-form-item>
</el-form>
</div>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          form: {
            name: ''
          }
        }
      },
      methods: {
        onSubmit: function () {
          console.log(this.form);
          axios.post('convert/',this.form.name)
          // axios.post('https://www.runoob.com/try/ajax/demo_axios_post.php')
          // .then(function (response) {console.log(response);console.log("YES")})
          .then( response => (this.form.name = response.data))
          .catch(function (error) { // 请求失败处理
              console.log(error);console.log("NO");
          });
          //         .post("convert/",this.form)
          //     .then(data => {
          //         alert(this.form.name)
          //             }
          //     )
          //     .catch(errors => {
          //         console.log(errors);
          //     })
          // console.log("Test")
        }
      }

    })
  </script>
</html>


