<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<div id="app">

    <el-container>
  <el-header><el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
  <el-menu-item index="1">首页</el-menu-item>
  <el-submenu index="2">
    <template slot="title">技术文章</template>
    <el-menu-item index="2-1">UI库</el-menu-item>
    <el-menu-item index="2-2">前端框架</el-menu-item>
    <el-menu-item index="2-3">后端技术栈</el-menu-item>
    <el-submenu index="2-4">
      <template slot="title">后端语言</template>
      <el-menu-item index="2-4-1">python</el-menu-item>
      <el-menu-item index="2-4-2">go</el-menu-item>
      <el-menu-item index="2-4-3">shell</el-menu-item>
    </el-submenu>
  </el-submenu>
      <el-submenu index="3">
    <template slot="title">常用工具</template>
        <el-menu-item index="2-1"><el-link type="primary" href="urlconvert/" >URL转换</el-link></el-menu-item>
        <el-menu-item index="2-2"><el-link type="primary" href="lumao/" target="_blank">lumao</el-link></el-menu-item>
        <el-menu-item index="2-3"><el-link type="primary" href="lugou/" target="_blank">lugou</el-link></el-menu-item>
  </el-submenu>
  <el-menu-item index="4"><a href="#" target="_blank">联系我</a></el-menu-item>
</el-menu></el-header>
  <el-main>Main</el-main>
</el-container>

</div>
  <script>
    new Vue({
      el: '#app',
      data: function() {
          return {
              activeIndex: '1',
          };
      },
      methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
      }
    })
  </script>
</body>
</html>